{% extends 'accounts/base.html' %}

{% block info %}
<div class="profile">
    {% if user.is_customer %}
        <h2>Личный кабинет заказчика</h2>
    {% else %}
        <h2>Личный кабинет исполнителя</h2>
    {% endif %}
    <div class="info">
        {% if user.photo %}
            <p><img src="{{user.photo.url}}"></p>
        {% endif %}
        <p><b>Фамилия</b>: {{user.last_name}}</p>
        <p><b>Имя</b>: {{user.first_name}}</p>
        <p><b>Email</b>: {{user.email}}</p>
        <p><b>Telegram</b>: {{user.telegram}}</p>
        {% if user.is_customer %}
            <p><b>Последний раз был в сети</b>: {{user.last_login}}</p>
        {% else %}
            <p><b>Дата регистрации</b>: {{user.date_joined}}</p>
            <p><b>О себе</b>: {{user.about}}</p>
            <p><b>Опыт работы</b>: {{user.experience}}</p>
        {% endif %}
    </div>
    <a href="{% url 'accounts:edit_page' %}">Изменить</a>
</div>

{% endblock %}